TT_PENSIONS_SMS_NewBusiness-interface.module/Schemas/Interface/TT/PENSIONS/SMS/NewBusiness/NewBusiness_v3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:addr="http://www.royallondon.com/xsd/interface/tt/pensions/sms/newbusiness/newbusinesscommon/v1"
    xmlns:api="http://www.royallondon.com/xsd/resource/util/csf/api/v1"
    xmlns:tns="http://www.royallondon.com/xsd/interface/tt/pensions/sms/newbusiness/v3" elementFormDefault="qualified" targetNamespace="http://www.royallondon.com/xsd/interface/tt/pensions/sms/newbusiness/v3">

    <import namespace="http://www.royallondon.com/xsd/resource/util/csf/api/v1" />

    <import schemaLocation="NewBusinessCommon_v1.xsd" namespace="http://www.royallondon.com/xsd/interface/tt/pensions/sms/newbusiness/newbusinesscommon/v1"/>
    
    <complexType name="FindWithdrawalInstructionsRequestType">
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="addr:NewBusinessId" />
        </sequence>
    </complexType>

    <complexType name="FindWithdrawalInstructionsResponseType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" ref="addr:WithdrawalInstruction" />
        </sequence>
    </complexType>

    <complexType name="DeleteWithdrawalInstructionsRequestType">
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="addr:NewBusinessId" />
            <element maxOccurs="1" minOccurs="1" ref="addr:WithdrawalInstructionId" />
        </sequence>
    </complexType>

    <complexType name="DeleteWithdrawalInstructionsResponseType">
        <sequence>

        </sequence>
    </complexType>

    <complexType name="CreateWithdrawalInstructionsRequestType">
        <sequence>
            <element ref="addr:NewBusinessId" maxOccurs="1" minOccurs="1"  />
            <element ref="addr:IncrementGroupId" minOccurs="1" maxOccurs="1"/>
            <element ref="addr:RegularWithdrawalActionType" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:OneOffWithdrawalAmount" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:RegularWithdrawalAmount" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:RegularWithdrawalFrequencyType" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:RegularIncomePaymentDay" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:EscalationType" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:EscalationPercentage" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:PaymentBankAccountId" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="CreateWithdrawalInstructionsResponseType">
        <sequence>
             <element ref="addr:Id" maxOccurs="1" minOccurs="1"  />
        </sequence>
    </complexType>

    <complexType name="ModifyWithdrawalInstructionsRequestType">
        <sequence>
            <element ref="addr:NewBusinessId" maxOccurs="1" minOccurs="1"  />
            <element ref="addr:WithdrawalInstructionId" maxOccurs="1" minOccurs="1"  />
            <element ref="addr:RegularWithdrawalActionType" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:OneOffWithdrawalAmount" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:RegularWithdrawalAmount" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:RegularWithdrawalFrequencyType" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:RegularIncomePaymentDay" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:EscalationType" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:EscalationPercentage" minOccurs="0" maxOccurs="1"/>
            <element ref="addr:PaymentBankAccountId" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="ModifyWithdrawalInstructionsResponseType">
        <sequence>

        </sequence>
    </complexType>

    <element name="FindWithdrawalInstructionsRequest" type="tns:FindWithdrawalInstructionsRequestType" />
    <element name="FindWithdrawalInstructionsResponse" type="tns:FindWithdrawalInstructionsResponseType" />
    <element name="DeleteWithdrawalInstructionRequest" type="tns:DeleteWithdrawalInstructionsRequestType" />
    <element name="DeleteWithdrawalInstructionResponse" type="tns:DeleteWithdrawalInstructionsResponseType" />
    <element name="CreateWithdrawalInstructionsRequest" type="tns:CreateWithdrawalInstructionsRequestType" />
    <element name="CreateWithdrawalInstructionsResponse" type="tns:CreateWithdrawalInstructionsResponseType" />
    <element name="ModifyWithdrawalInstructionsRequest" type="tns:ModifyWithdrawalInstructionsRequestType" />
    <element name="ModifyWithdrawalInstructionsResponse" type="tns:ModifyWithdrawalInstructionsResponseType" />

</schema>
