TT_PENSIONS_SMS_NewBusiness-implement.module/Schemas/SalesManagementHeaderParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:Q1="http://tns.tibco.com/bw/REST" xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/SalesManagement/headerParameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://xmlns.example.com/SalesManagement/headerParameters">
	<xs:import namespace="http://tns.tibco.com/bw/REST"/>
	<xs:complexType name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessPostHeaderType">
		<xs:complexContent>
			<xs:extension base="Q1:httpTransportHeaders">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="adviserIdList" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessPostHeader" type="tns:SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessPostHeaderType"/>
	<xs:complexType name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessInstructions-flexibleAccessInstructionIdDeleteHeaderType">
		<xs:complexContent>
			<xs:extension base="Q1:httpTransportHeaders">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="adviserIdList" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessInstructions-flexibleAccessInstructionIdDeleteHeader" type="tns:SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessInstructions-flexibleAccessInstructionIdDeleteHeaderType"/>
	<xs:complexType name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessInstructionsPostHeaderType">
		<xs:complexContent>
			<xs:extension base="Q1:httpTransportHeaders">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="adviserIdList" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessInstructionsPostHeader" type="tns:SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessInstructionsPostHeaderType"/>
	<xs:complexType name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessGetHeaderType">
		<xs:complexContent>
			<xs:extension base="Q1:httpTransportHeaders">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="adviserIdList" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessGetHeader" type="tns:SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessGetHeaderType"/>
	<xs:complexType name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessInstructionsGetHeaderType">
		<xs:complexContent>
			<xs:extension base="Q1:httpTransportHeaders">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="adviserIdList" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessInstructionsGetHeader" type="tns:SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessInstructionsGetHeaderType"/>
	<xs:complexType name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccess-flexibleAccessIdPutHeaderType">
		<xs:complexContent>
			<xs:extension base="Q1:httpTransportHeaders">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="adviserIdList" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccess-flexibleAccessIdPutHeader" type="tns:SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccess-flexibleAccessIdPutHeaderType"/>
	<xs:complexType name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessInstructions-flexibleAccessInstructionIdPutHeaderType">
		<xs:complexContent>
			<xs:extension base="Q1:httpTransportHeaders">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="adviserIdList" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessInstructions-flexibleAccessInstructionIdPutHeader" type="tns:SalesManagement-Quotes-v4.0-api-newBusiness-newBusinessId-flexibleAccessInstructions-flexibleAccessInstructionIdPutHeaderType"/>
		
	<xs:complexType name="SalesManagement-v6-api-newBusiness-newBusinessId-flexibleAccessInstructionsGetHeaderType">
		<xs:complexContent>
			<xs:extension base="Q1:httpTransportHeaders">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="X-TransactionID" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="X-CorrelationID" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SalesManagement-v6-api-newBusiness-newBusinessId-flexibleAccessInstructionsGetHeader" type="tns:SalesManagement-v6-api-newBusiness-newBusinessId-flexibleAccessInstructionsGetHeaderType"/>
		
		
	<xs:complexType name="flexibleAccessInstructionWithdrawalFundsGetHeaderType">
		<xs:complexContent>
			<xs:extension base="Q1:httpTransportHeaders">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="X-TransactionID" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="X-CorrelationID" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="flexibleAccessInstructionWithdrawalFundsGetHeader" type="tns:flexibleAccessInstructionWithdrawalFundsGetHeaderType"/>
	
	 <xs:complexType name="flexibleAccessInstructionWithdrawalFundsPutHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="X-TransactionID" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="X-CorrelationID" type="xs:string"/>
                </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="flexibleAccessInstructionWithdrawalFundsPutHeader" type="tns:flexibleAccessInstructionWithdrawalFundsPutHeaderType"/>
	
	<xs:complexType name="flexibleAccessInstructionWithdrawalFundsPostHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="X-TransactionID" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="X-CorrelationID" type="xs:string"/>
                </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="flexibleAccessInstructionWithdrawalFundsPostHeader" type="tns:flexibleAccessInstructionWithdrawalFundsPostHeaderType"/>
  
  <xs:complexType name="flexibleAccessInstructionWithdrawalFundsDeleteHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="X-TransactionID" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="X-CorrelationID" type="xs:string"/>
                </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="flexibleAccessInstructionWithdrawalFundsDeleteHeader" type="tns:flexibleAccessInstructionWithdrawalFundsDeleteHeaderType"/>
</xs:schema>
		

